# Python venv's
Y1/py-data-analysis/venv/
Y1/BaseCamp/venv/
# OODP
Y1/OODP/.vs/
Y1/OODP/W00.1.C01/bin/
Y1/OODP/W00.1.C01/obj/
Y1/OODP/W01.1.C01/bin/
Y1/OODP/W01.1.C01/obj/
Y1/OODP/W01.1.C02/bin/
Y1/OODP/W01.1.C02/obj/