.mainContainer {
    border: 2px solid rgb(108, 182, 255);
    margin: 12px;
    border-radius: 0.5rem;
    background-color: rgba(28, 27, 34, 0.9);
    backdrop-filter: blur(1rem);
    overflow: hidden;
}

hr {
    margin: 8px 12px 12px 12px;
    color: rgba(43, 42, 51, 1);
    height: 2px;
    background-color: rgba(43, 42, 51, 1);
    border-radius: 1rem;
    border: none;
}

.navigationBar {
    position: sticky;
    top: 0;
    /*border: 1px solid blue;*/
    background-color: rgba(22, 21, 27, 1);
    /*margin: 8px 8px 0 8px;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    user-select: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.leftItem {
    grid-column: 1;
    margin: 8px auto 8px 8px;
    width: 24px;
    height: 24px;
}

.leftItem:hover {
    cursor: pointer;
}

.centerItem {
    grid-column: 2;
    margin: 0 auto;
    font-family: monospace;
    font-size: 1rem;
    color: mistyrose;
    text-shadow: rgba(0, 0, 0, 0.8) 3px 3px 3px;
}

.rightItem {
    grid-column: 3;
    margin: 8px 8px 8px auto;
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

.rightItem:hover {
    cursor: pointer;
}

.windowContent {
    /*border: 1px solid red;*/
    height: 100%;
    display: grid;
    grid-template-columns: 180px auto;
    grid-template-rows: 1fr;
}

.filesNavigationBar {
    grid-column: 1;
    border-right: 1px solid rgba(43, 42, 51, 1);
    height: 100%;
}

.fileNavigator {
    display: grid;
    grid-template-columns: 1fr 4fr;
    border-bottom: 1px solid rgba(43, 42, 51, 1);
    border-left: 1px solid rgba(43, 42, 51, 1);
    padding: 4px 4px 4px 4px;
    transition: background-color 0.3s ease-out;
}

.fileNavigator > .fileNavigatorText {
    font-family: monospace;
    font-size: 16px;
    color: mistyrose;
    text-shadow: rgba(0, 0, 0, 0.8) 3px 3px 3px;
}

.filesNavigationBar .current {
    background-color: rgb(47, 43, 58);
}

.fileNavigator:hover {
    background-color: rgb(47, 43, 58);
    cursor: pointer;
    transition: background-color 0.3s ease-out;
}

.fileNavigatorText {
    /*border: 1px solid red;*/
    text-align: left;
    align-content: center;
}

.fileNavigatorIcon {
    /*border: 1px solid red;*/
    scale: 0.8;
}

.childrenContainer {
    grid-column: 2;
    overflow-y: scroll;
    max-height: 100%;
    padding-bottom: 3rem;
    /*margin: 8px 0 0 0;*/
    /*border: 1px solid green;*/
}

.windowContent h1 {
    /*border: 1px solid red;*/
    font-family: "Segoe UI", sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: rgba(117, 212, 125, 100);
    text-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px;
    margin: 4px 16px 2px 16px;
}

.windowContent h2 {
    /*border: 1px solid red;*/
    font-family: "Segoe UI", sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: rgba(110, 172, 228, 100);
    text-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px;
    margin: 4px 16px 2px 16px;
}

.windowContent h3 {
    /*border: 1px solid red;*/
    font-family: "Segoe UI", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: rgba(209, 167, 233, 100);
    text-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px;
    margin: 4px 16px 2px 16px;
}

.windowContent p {
    font-family: "Segoe UI", sans-serif;
    font-size: 18px;
    color: whitesmoke;
    text-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px;
    margin: 0 16px 0 16px;
}

.windowContent ul {
    font-family: "Segoe UI", sans-serif;
    color: whitesmoke;
    text-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px;
    margin: 0 16px 0 16px;
}

.windowContent a {
    font-family: "Segoe UI", sans-serif;
    font-size: 18px;
    margin: 0 16px 0 16px;
    text-decoration: underline;
    color: cornflowerblue;
}
