body {
  background: #333333;
}

a {
  color: whitesmoke;
}

h1 {
  color: #6495ED
}

button {
  background: powderblue;
  border: none;
  border-radius: 5px;
  width: 200px;
  height: 100px;
}

.business {
  width: 400px;
  height: auto;
}

.hey-guys {
  color: #84deff;
  font-size: 20px;
  width: 600px;
  height: auto;
  margin: 30px;
  padding: 10px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
